body{
    background-image: url('https://files.globalgiving.org/pfil/1891/ph_1891_9672.jpg?m=1231928393000');
}

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
    
    background-size: cover;
    background-position: center;
  }
  
  .card-header {
    background-color: #f5f5f5;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .card-header h2 {
    margin: 0;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-body p {
    margin: 0;
  }
  
  .card-body strong {
    font-weight: bold;
  }
  
  /* Hover effect */
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.3s ease;
  }
  